{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-vendor-prefix": true,
        "block-closing-brace-newline-before": "always",
        "block-no-single-line": true,
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "color-hex-length": "long",
        "color-named": "never",
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-properties-order": "alphabetical",
        "declaration-block-semicolon-newline-after": "always",
        "declaration-colon-space-after": "always",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-url-quotes": "single",
        "indentation": 4,
        "media-feature-name-no-vendor-prefix": true,
        "property-no-vendor-prefix": true,
        "rule-nested-empty-line-before": ["always", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        }],
        "selector-no-id": true,
        "selector-no-universal": true,
        "selector-no-vendor-prefix": true,
        "string-quotes": "single",
        "value-no-vendor-prefix": true
    }
}
