html,
body {
    align-items: center;
    background-color: #8eafce;
    color: #333333;
    display: flex;
    font: 12px/1.5 'Trebuchet MS', sans-serif;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #333333;
    height: 480px;
    position: relative;
    width: 320px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background: linear-gradient(to bottom, #dddddd 0%, #d8d8d8 33%, #cecece 67%, #c6c6c6 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    bottom: 10px;
    color: #999999;
    font-size: 0.9rem;
    position: absolute;
    right: 10px;

    a:hover {
        color: #999999;
    }
}

.settings {
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease-in-out;

    &.show {
        height: 90px;
    }
}

.box {
    display: inline-block;
    margin-left: 40px;
    text-align: center;
    width: 60px;

    &:first-child {
        margin-left: 5px;
    }
}

h1 {
    color: #111111;
    font-size: 2rem;
    font-weight: 700;
    height: 54px;
    line-height: 54px;
    margin-bottom: 0.4em;
    margin-top: 0;
    text-indent: 15px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.55em;
    margin-top: 0.55em;
}

p {
    margin-bottom: 0.55em;
    margin-top: 0.55em;
}

img {
    border: 0;
}

span {
    font-size: 1.8rem;
}

button {
    background-color: transparent;
    border: 0;
    color: #8eafce;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #333333;
    }
}

input {
    font-size: 2.2rem;
    height: 50px;
    padding-left: 5px;
    width: 98%;

    @nest .settings & {
        height: 40px;
        margin-top: 2px;
        width: 60px;
    }
}

select {
    margin-top: 5px;
    width: 135px;
}

a {
    color: #8eafce;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #333333;
    }
}
