html,
body {
    align-items: center;
    background-color: #8eafce;
    color: #333;
    display: flex;
    font: 12px/1.5 "Trebuchet MS", sans-serif;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #333;
    height: 480px;
    position: relative;
    width: 320px;
}

.content {
    padding: 0 15px;
}

header {
    background: linear-gradient(to bottom, #b9b9b9 0%, #dcdcdc 2%, #c5c5c5 4%, #bebebe 23%, #9d9d9d 81%, #969696 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    bottom: 10px;
    color: #999;
    font-size: 0.9rem;
    position: absolute;
    right: 10px;

    a:hover {
        color: #999;
    }
}

.settings {
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease-in-out;

    &.show {
        height: 90px;
    }
}

.box {
    display: inline-block;
    margin-left: 40px;
    text-align: center;
    width: 60px;

    &:first-child {
        margin-left: 5px;
    }
}

h1 {
    color: #14222f;
    font-size: 2rem;
    font-weight: 700;
    height: 54px;
    line-height: 54px;
    margin: 0 0 0.4em;
    text-indent: 15px;
    text-shadow: 1px 1px 1px #fff;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0;
}

p {
    margin: 0.55em 0;
}

img {
    border: 0;
}

span {
    font-size: 1.8rem;
}

input {
    font-size: 2.2rem;
    height: 50px;
    padding-left: 5px;
    width: 98%;

    .settings & {
        height: 40px;
        margin-top: 2px;
        width: 60px;
    }
}

select {
    font-size: 2.2rem;
    margin-top: 5px;
    width: 135px;
}

a {
    color: #8eafce;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #333;
    }
}
